body{
    font-size: 14px;
}
#nav{
    display: flex;
    align-items: center;
    padding: 6px;
}
ul {
    list-style-type: none;
}
.abt{
    margin-left: 15px;
}
.str{
    margin:0 5px;
    padding: 5px;
    display: inline-block;
    flex-grow: 1;
}
.gml{
    margin: 5px;
}
.img, .dts{
    margin: 0 5px;
}
.dts-img{
    width: 17px;
    height: auto;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;

}